<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="TestJson">
  <parameter name="filePath" value="/home/bhanu/Documents/testcase/testcasejson.json"/> 
    <classes>
      <class name="com.atmecs.controllers.RestController"/>
    </classes>
  </test> <!-- Test -->
   <test name="TestXml">
  <parameter name="filePath" value="/home/bhanu/Documents/testcase/testcasexml.json"/> 
    <classes>
      <class name="com.atmecs.controllers.RestController"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
